body {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 40px;
}

.om-header {
  font-size: 1.6rem;
  font-weight: 500;
  padding-top: 20px;
  padding-bottom: 20px;
}

.om-span-l {
  font-size: 1.2rem;
  font-weight: 400;
}

.om-span-m {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 10px;
}

.om-span-s {
  font-size: 0.8rem;
  font-weight: 400;
}

.om-card {
  margin-top: 20px;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #2f2f2f;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.om-input {
  font-size: 0.8rem;
  font-weight: 400;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #2f2f2f;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 50px;
}

button {
  font-size: 1rem;
  font-weight: 500;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: #4460FF;
  border: none;
  cursor: pointer;
  color: white;
}

.result-span{
  position: absolute;
  right: 20px;
  bottom: 20px;
}